
          <div class="collapse" id="press">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'CIO', "http://www.cio.com/article/2394667/careers-staffing/14-tips-to-help-new-college-grads-land-a--good--it-job.html", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  14 Tips to Help New College Grads Land a (Good) IT Job
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'Udemy', "https://blog.udemy.com/ruby-on-rails-tutorial-learn-from-scratch/", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  Ruby on Rails Tutorial: Learn From Scratch
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'NG Data', "https://www.ngdata.com/big-data-technology-trends-in-banking/#Hudgens", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  20 experts reveal the most important big data technology trends shaping banking and finance today
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'SmartFile', "http://www.smartfile.com/blog/8-questions-hiring-dream-software-developer/", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  8 Questions to Hiring Your Dream Software Developer
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'The Street', "https://www.thestreet.com/story/13667907/1/can-you-bring-your-significant-other-on-a-business-trip.html", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  Can You Bring Your Significant Other on a Business Trip?
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'Computer User UK', "http://www.computerworlduk.com/galleries/it-business/10-technologies-that-changed-business-forever-3370249/", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  10 technologies that changed business forever
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'Ecommerce Times', "http://www.ecommercetimes.com/story/64171.html", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  The Legal Perils of Social Networking
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'cool button', "http://www.coolmath-games.com/", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  this thing
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'click me', "http://www.coolmath-games.com/", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  hello
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'easter egg', "http://www.abcya.com/easter_egg_hunt.htmk=", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  easter egg
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'la la la ', "https://github.com/davythegriffin", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  who me
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'here is a joke', "https://sites.google.com/site/games4youunblocked/jokes/humorous-jokesQmCC", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  Biola Media Conference Speaking Appearance: Designing for the Digital Age
                </div>
              </div>
            </div>
          </div>
