          <div class="collapse" id="courses">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-4">
                  <%= image_tag 'about/courses_rails_5.jpg', width: '100%' %>
                  <%= link_to "place holder", root_path %>
                </div>
                <div class="col-md-4">
                  <%= image_tag 'about/courses_angular.jpg', width: '100%' %>
                  <%= link_to "i am lazy so i woun't fill this in with something cool.", target: '_blank' %>
                </div>
                <div class="col-md-4">
                  <%= image_tag 'about/courses_ruby.jpg', width: '100%' %>
                  <%= link_to "I made this website.", "http://www.coolmath-games.com/", target: '_blank' %>
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-4">
                  <%= image_tag 'about/courses_tdd_bdd.jpg', width: '100%' %>
                  <%= link_to "hey there", "http://www.coolmath-games.com/", target: '_blank' %>
                </div>
                <div class="col-md-4">
                  <%= image_tag 'about/courses_vim.jpg', width: '100%' %>
                  <%= link_to "i ate a pineapple once", "http://www.coolmath-games.com/", target: '_blank' %>
                </div>
                <div class="col-md-4">
                  <%= image_tag 'about/courses_ts.jpg', width: '100%' %>
                  <%= link_to "dont click on these", "http://www.coolmath-games.com/", target: '_blank' %>
                </div>
              </div>
            </div>
          </div>
